:root {
    --Base: 227, 229, 233;

    --Text: 17, 24, 39;
    --Subtext1: 123, 133, 144;
    --Subtext0: 58, 63, 68;

    --Surface2: 206, 209, 218;
    --Surface1: 221, 224, 231;
    --Surface0: 230, 233, 240;

    --Overlay2: 222, 224, 230;
    --Overlay1: 243, 243, 243;
    --Overlay0: 253, 253, 253;

    --Rosewater: 114, 82, 78;
    --Flamingo: 120, 57, 57;
    --Pink: 112, 66, 97;
    --Mauve: 57, 40, 87;
    --Red: 118, 48, 58;
    --Maroon: 117, 50, 53;
    --Peach: 112, 66, 38;
    --Yellow: 108, 87, 47;
    --Green: 89, 109, 66;
    --Teal: 66, 111, 101;
    --Sky: 61, 110, 121;
    --Sapphire: 63, 101, 125;
    --Blue: 60, 82, 114;
    --Lavender: 77, 71, 123;

    --color-bg-0: rgb(var(--Base));
    --color-bg-1: #c3c3c3;
    --color-bg-2: #595959;
}